html {
    font-size: 14px;
}

html,
body {
    background-color: rgb(58, 63, 80);
}

body {
    color: #fff;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
    color: rgb(0, 0, 0);
}